* {
   border: 1px solid red;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.proudly {
	background-color: #858585;
	color: #ffffff;
	text-align: center;
}